<h2 class="jumbotron">Dashboard</h2>
{{!-- Display user's posts. Otherwise, tell them they have no posts at the time. --}}
{{#if posts.length}}
<section>
   <h3>Your Posts</h3>
   <div>
      <ol>
         {{#each posts as |post|}}
         <li>
            <div class="card mb-6">
               <header class="card-header-title">
                  <div class="card-title column">
                     <p class="text-light"></p>
                     <a href="/post/{{id}}" class="font-weight-bold font-capitalize text-left">{{title}} </a></p>
                  </div>
               </header>

               <div class="card-body">
                  <div class="card-text text-justify">
                     {{post.content}}
                  </div>
                  <div class="text-right">
                     <b>{{user.username}}</b> |
                     | {{format_date date_created}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment"
                        comments.length}}</a>
                  </div>
               </div>
               <button class="edit"><a href="/dashboard/edit/{{post.id}}">Edit Post</a></button>
         </li>
         {{/each}}
      </ol>
   </div>
</section>

{{else}}
<h4 class="pb-4 text-center font-italic">Currently, you do not have any posts.</h4>

{{/if}}

<section>
   <h2>Create a New Post!</h2>
   <br>
   <form class="new-post-form">
      <div>
         <label for="post-title">Title</label>
         <input type="text" id="post-title" placeholder="Please enter post title here" name="post-title" />
      </div>
      <div>
         <label for="post-url">Content</label>
         <input type="text" id="post-content" placeholder="Please enter post content here" name="content" />
      </div>
      <button type="submit" class="btn btn-secondary">Create</button>
   </form>
</section>

<script src="/js/add-post.js"></script>